@import "tailwindcss";

:root {
  line-height: 1.5;
  font-weight: 400;

  --white: #F7FFF7;
  --black: #1D1A05;
  --primary: #314CB6;
  --secondary: #293979;

  color: var(--white);
  background-color: var(--black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}


@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}